@font-face {
	font-family: "iconfont";
	/* Project id  */
	src: url('@/static/style/font/iconfont.ttf?t=1673847929028') format('truetype');
}

.iconfont {
	font-family: "iconfont" !important;
	font-size: 20px;
	font-style: normal;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-add:before {
	content: "\e661";
}

.icon-order-manager:before {
	content: "\e617";
	font-size:40px;
	color:mediumblue;
}
.icon-juzhenren:before {
	content: "\e617";
	font-size:35px;
}
.icon-declare:before {
	content: "\e61b";
}

.icon-qq:before {
	content: "\e66a";
}

.icon-delete:before {
	content: "\e607";
}

.icon-weixin:before {
	content: "\e64b";
	color: forestgreen;
	font-size: 45px;
}
.icon-weixin1:before {
	content: "\e64b";
	color: forestgreen;
	font-size: 110px;
}

.icon-update:before {
	content: "\e6aa";
}

.icon-checked:before {
	content: "\e601";
}

.icon-close:before {
	content: "\e60f";
}

.icon-search:before {
	content: "\e61c";
	font-size: 20px;
}

.icon-yiyuan:before {
	content: "\e80e";
	letter-spacing: 5px;
}
.icon-yiyuan1:before {
	content: "\e80e";
	font-size: 35px;
	letter-spacing: 5px;
}

.icon-ren:before {
	content: "\e61a";
}

.icon-weibo:before {
  content: "\e637";
}

.icon-idcard:before {
	content: "\e7de";
}

.icon-arrow-up:before {
	content: "\e60c";
	font-size: 15px;
	padding-left: 5px;
}

.icon-eye:before {
	content: "\e604";
	margin-left: 2px;
}
.icon-eye1:before {
	content: "\e6e4";
	margin-left: 2px;
}
.icon-location:before {
	content: "\e61e";
	color: #bfbfbf;
	font-size: 20px;
}

.icon-star-thr:before {
	content: "\e633";
	font-size: 13px;
	letter-spacing: 2px;
	color: #bfbfbf;
}

.icon-star-attention:before {
	content: "\e633";
	font-size: 20px;
	letter-spacing: 2px;
	color: #131212;
}

.icon-erweima:before {
	content: "\e629";
	font-size:30px;
	color:blue;
}
.icon-dengji:before {
	content: "\e6f7";
	color: #bfbfbf;
}

.icon-shouji:before {
	content: "\e606";
}

.icon-shouji1:before {
	content: "\e606";
	font-size: 20px;
	color: blue;
}

.icon-mima:before {
	content: "\e689";
}

.icon-saoyisao:before {
	content: "\e619";
}

.icon-arrow-down:before {
	content: "\e665";
}

.icon-arrow-right:before {
	content: "\e666";
	font-size: 15px;
	font-weight: bold;
	color: #bfbfbf
}

.icon-arrow-right1:before {
	content: "\e666";
	font-size: 20px;
	font-weight: bolder;
	color: #716f6f;
	padding-left: 15px;
}
.icon-arrow-right2:before {
	content: "\e666";
	font-size: 20px;
	font-weight: bolder;
	color: #716f6f;
	padding-left: 15px;
}

.icon-xuanze:before {
  content: "\e612";
}

.icon-tiwenquestion:before {
	content: "\e7cd";
}

.icon-upset:before {
	content: "\e7e9";
	font-size:100px
}

.icon-cuowutishi-copy:before {
	content: "\e7a2";
}

.icon-alert:before {
	content: "\e613";
	color: crimson;
}
.icon-record:before {
	content: "\e630";
	font-size:40px;
	color:mediumblue;
}
.icon-record-my:before {
	content: "\e630";
	font-size:35px;
}
.icon-record1:before {
	content: "\e630";
	color:#8a8a8a;
}
.icon-jiedu:before {
	content: "\e630";
	color:#8a8a8a;
}
.icon-yuyue:before {
	content: "\e636";
	font-size:40px;
	color:mediumblue;
}
.icon-gengduo:before {
  content: "\e771";
}
.icon-xuexing:before {
  content: "\e656";
}

.icon-jisuanqi:before {
  content: "\e753";
  color: white;
  font-size: 17px;
}
.icon-yiganzice:before {
  content: "\e605";
}
.icon-arrow-left:before {
  content: "\e743";
  /* color: white; */
}
.icon-dingwei:before {
  content: "\e6cb";
  color: #73f2a0;
  font-size: 30px;
}
